<%- include ('./partials/header.ejs') %>
    <section class="guess-page">
        <div class="guess-container">
            <h1>Who's That Pokémon?</h1>
            <img id="pokemon-silhouette" src="<%= silhouetteImage %>" alt="Pokémon silhouette" class="silhouette">
            <div class="scoreboard" id="scoreboard">
                Correct: <%= score.correct %> | Incorrect: <%= score.incorrect %>
            </div>
            <form id="guess-form" class="guess-form">
                <input type="hidden" name="correctName" value="<%= correctName %>">
                <input type="text" name="guess" id="guess" placeholder="Enter Pokémon name" class="guess-input" autocomplete="off">
                <ul id="autocomplete-list" class="autocomplete-list"></ul>
                <button type="submit" class="guess-button guess-submit-button">Guess!</button>
                <button type="button" id="skip-button" class="guess-button skip-button">Skip</button>
            </form>
            <div class="message" id="message"></div>
        </div>
    </section>
    <%- include ('./partials/footer.ejs') %>
